/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http: //mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  description                      = 'Nextflow RNA-seq pipeline' 
  author                           = 'Miles Smith <miles-smith@omrf.org'
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    process.container              = 'nextflow/rnaseq-nf:latest'
  }
  
  slurm {
    params.source                  = "/s/guth-aci/novaseq
    params.project                 = "${params.source}/${params.project}"
    process.container              = 'gcr.io/scrna-196615/rnaseq-pipeline-nf:latest'
    process.executor               = 'slurm'
    process.queue                  = "serial"
    process.cpu                    = 4
    process.mem                    = 32
    singularity.enabled            = true
  }

  gcp {
    params.source                  = "/s/guth-aci/novaseq
    params.project                 = "${params.source}/${params.project}"
    workDir                        = 'gs://memory-beta/work'
    docker.enabled                 = true
    process.container              = 'gcr.io/scrna-196615/rnaseq-pipeline-nf:latest'
    process.executor               = 'google-pipelines'
    process.machineType            = 'n1-highmem-4'
    process.cpus                   = 4
  }  

  conda {
    process.conda                  = "$baseDir/conda.yml"
  }  
}

cloud {
  process.machineType              = 'n1-highmem-4'
  preemptible                      = true
}

google {
  project                          = 'scrna-196615'
  region                           = 'us-central1'
}